 <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
        http://maven.apache.org/xsd/settings-1.0.0.xsd">

        <!--localRepository/ -->
        <!--interactiveMode/ -->
        <!--usePluginRegistry/ -->
        <!--offline/ -->
        <!--pluginGroups/ -->
        <pluginGroups>
                <pluginGroup>org.apache.tomcat.maven</pluginGroup>
        </pluginGroups>
        <servers>
        <server>
            <id>central</id>
            <username>deployer</username>
            <password>sinodynamic2014</password>
        </server>
                <server>
            <id>sino-internal-releases</id>
            <username>deployer</username>
            <password>sinodynamic2014</password>
        </server>
                <server>
            <id>sino-internal-snapshots</id>
            <username>deployer</username>
            <password>sinodynamic2014</password>
        </server>
                <server>
                        <id>DevTomcatServer</id>
                        <username>tomcat</username>
                        <password>tomcat</password>
                </server>
    </servers>
        <profiles>
                <profile>
                        <id>nexus</id>
                        <!--Enable snapshots for the built in central repo to direct -->
                        <!--all requests to nexus via the mirror -->
                        <repositories>
                                <repository>
                                        <id>central</id>
                                        <url>http://nexus:8081/content/groups/repo_all</url>
                                        <releases><enabled>true</enabled></releases>
                                        <snapshots>
                                                <enabled>true</enabled>
                                                <updatePolicy>never</updatePolicy>
                                        </snapshots>
                                </repository>
                        </repositories>
                        <pluginRepositories>
                                <pluginRepository>
                                        <id>central</id>
                                        <url>http://central</url>
                                        <releases><enabled>true</enabled></releases>
                                        <snapshots><enabled>true</enabled></snapshots>
                                </pluginRepository>
                        </pluginRepositories>
                </profile>
        </profiles>
        <activeProfiles>
                <!--make the profile active all the time -->
                <activeProfile>nexus</activeProfile>
        </activeProfiles>
        <mirrors>
                <mirror>
                        <id>sino-nexus</id>
                        <name>SinoDynamic</name>
                        <url>http://nexus:8081/content/groups/repo_all</url>
                        <mirrorOf>central</mirrorOf>
                </mirror>
        </mirrors>
        <!--proxies/ -->
        <!--profiles/ -->
        <!--activeProfiles/ -->

</settings>
